*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background:black;
}
.calculator{
	position: relative;
	display: grid;
}
.calculator .value{
	grid-column: span 4;
	height: 100px;
	text-align: right;
	border: none;
	outline: none;
	padding:2px;
	font-size: 20px;
	text-align: center;
}
.calculator span{
	display: grid;
	width: 60px;
	height: 60px;
	color: #fff;
	background: #0c2835;
	place-item: center;
	border: 1px solid rgba(0, 0, 0, 1.0);
}
.calculator span:active{
	 background:#74ff3b;
	 color: #111;

}
.calculator span.clear{
	grid-column: span 2;
	width: 120px;
	color: white;
}
.calculator span.plus{
	grid-row: span 2;
	height: 120px;


}
.calculator span.equal{
	background: #03b1ff;
}


